<div class="flex justify-content-center">
    <h1> Horários </h1>
</div>



<p-tabView [formGroup]="form" [(activeIndex)]="indexAbas" (onChange)="limparAbas()">
    <p-tabPanel header="Aluno">
        <div class="col-12 flex align-content-start align-items-center">
            <div class="field col-3">
                <label class="block" for="matriculaAluno">Matrícula</label>
                <input class="w-full" type="text" pInputText id="matriculaAluno" formControlName="matricula"/>
            </div>

            <div class="field col-6 flex align-items-center mt-4 ml-4">
                <p-button label="Pesquisar" icon="pi pi-search" iconPos="right" styleClass="button-save-new mr-2"
                          (onClick)="buscarHorarios(TipoAtorBuscaEnum.ALUNO)"></p-button>
                <p-button label="Imprimir" icon="pi pi-file" iconPos="right" styleClass="button-save-new"
                          (onClick)="gerarRelatorioAulas()"></p-button>
                <p-button label="PDF" icon="pi pi-file-pdf" iconPos="right" styleClass="button-save-new ml-2"
                          (onClick)="downloadPDF('relatorio1')"></p-button>
            </div>
        </div>
        <app-grid-horario id="relatorio1" *ngIf="tipoAtorGrid == TipoAtorBuscaEnum.ALUNO" [horarios]="horarios1"> </app-grid-horario>
    </p-tabPanel>
    <p-tabPanel header="Professor">
        <div class="col-12 flex align-content-start align-items-center">
            <div class="field col-3">
                <label class="block" for="rfId">RFID</label>
                <input class= "w-full" type="text" pInputText id="rfId" formControlName="rfId" />
            </div>
            <div class="field col-3">
                <label class="block" for="dropProfessor">Professores</label>
                <p-dropdown formControlName="matricula" id="dropProfessor" (onChange)="resetRfId()" [filter]="true" optionValue="value" optionLabel="label" [options]="professorOptions" placeholder="Selecione"
                            appendTo="body" styleClass="w-full">
                </p-dropdown>
            </div>
            <div class="field col-6 flex align-items-center mt-4 ml-4">
                <p-button label="Pesquisar" icon="pi pi-search" iconPos="right" styleClass="button-save-new mr-2"
                          (onClick)="buscarHorarios(TipoAtorBuscaEnum.PROFESSOR)"></p-button>
                <p-button label="Imprimir" icon="pi pi-file" iconPos="right" styleClass="button-save-new"
                          (onClick)="gerarRelatorioAulas()"></p-button>
                <p-button label="PDF" icon="pi pi-file-pdf" iconPos="right" styleClass="button-save-new ml-2"
                          (onClick)="downloadPDF('relatorio2')"></p-button>
            </div>
        </div>
        <app-grid-horario id="relatorio2"  *ngIf="tipoAtorGrid == TipoAtorBuscaEnum.PROFESSOR" [horarios]="horarios1"> </app-grid-horario>
    </p-tabPanel>
    <p-tabPanel header="Turma">
        <div class="col-12 flex align-content-start align-items-center">
            <div class="field col-3">
                <label class="block" for="dropProfessor">Turmas</label>
                <p-dropdown formControlName="idTurma" id="turma" [filter]="true" optionValue="value" optionLabel="label" [options]="turmaOptions" placeholder="Selecione"
                            appendTo="body" styleClass="w-full">
                </p-dropdown>
            </div>
            <div class="field col-6 flex align-items-center mt-4 ml-4">
                <p-button label="Pesquisar" icon="pi pi-search" iconPos="right" styleClass="button-save-new mr-2"
                          (onClick)="buscarHorarios(TipoAtorBuscaEnum.TURMA)"></p-button>
                <p-button label="Imprimir" icon="pi pi-file" iconPos="right" styleClass="button-save-new"
                          (onClick)="gerarRelatorioAulas()"></p-button>
                <p-button label="PDF" icon="pi pi-file-pdf" iconPos="right" styleClass="button-save-new ml-2"
                          (onClick)="downloadPDF('relatorio3')"></p-button>
            </div>
        </div>
        <app-grid-horario id="relatorio3" *ngIf="tipoAtorGrid == TipoAtorBuscaEnum.TURMA" [horarios]="horarios1"> </app-grid-horario>
    </p-tabPanel>
</p-tabView>


<app-impressao-relatorio-horarios *ngIf="horarioRelatorio" [horarios1]="horarios1"></app-impressao-relatorio-horarios>
