<div class="card">
    <form [formGroup]="form">
        <div class="formgrid grid">


                <div class="field col-8">
                    <label for="matricula" class="block">Matricula*</label>
                    <input [readonly]="!motrarBotaoPesquisar" id="matricula" type="text" pInputText class="w-full" formControlName="matricula"/>
                </div>

                <div class="field col-4" *ngIf="this.motrarBotaoPesquisar">
                    <p-button label="Pesquisar" icon="pi pi-search" iconPos="right" styleClass="button-save-new mr-2 mt-4"
                               (onClick)="buscarProfessorPorMatricula()"></p-button>
                </div>



            <div class="field col-12">
                <label for="nome" class="block">Nome</label>
                <input readonly id="nome" type="text" pInputText class="w-full" formControlName="nome"/>
            </div>
            <div class="field col-12">
                <label class="block">Coordenadoria</label>
                <p-dropdown formControlName="idCoordenadoria" [options]="coordenadorias" placeholder="Selecione a coordenadoria"
                            appendTo="body" styleClass="w-full">
                </p-dropdown>
            </div>

            <div class="field col-12">
                <label for="rfid" class="block">RFID Vinculado</label>
                <input id="rfid" type="text" pInputText class="w-full" formControlName="rfid"/>
            </div>

            <div class="col-12 flex justify-content-end mt-3">
                <p-button label="Cancelar" styleClass="p-button-secondary mr-3" [disabled]="isVisualizar"
                          (onClick)="fecharDialog()"></p-button>
                <p-button label="Salvar" styleClass="button-save-new" [disabled]="isVisualizar || !form.valid"
                          (onClick)="salvarProfessor()"></p-button>
            </div>
        </div>
    </form>
</div>
