<div class="flex justify-content-center">
    <h1> Auditoria de Eventos</h1>
</div>

<div class="card">
    <p-table [columns]="cols" [value]="auditorias" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <ng-template [ngIf]="col.text">
                        {{rowData[col.field] || '-'}}
                    </ng-template>
                    <div class="classe-ng-template">
                        <ng-template [ngIf]="col.field == 'acao'">
                            <div class="flex justify-content-start p-0">
                                <span class="cell-with-ellipsis">{{ rowData[col.field] || '-' }}</span>
                            </div>
                        </ng-template>
                    </div>

                    <ng-template [ngIf]="col.field == 'acoes'">
                        <div class="flex justify-content-center p-0">
                            <button
                                pButton
                                icon="pi pi-eye"
                                class="button-action botao-secundario button-view sem-fundo flex align-items-center justify-content-center m-1"
                                iconPos="left"
                                (click)="handleAcao(rowData, 'visualizar')">
                            </button>
                        </div>
                    </ng-template>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
