<div class="card">
    <form [formGroup]="form">
        <div class="formgrid grid">
            <div class="field col-12">
                <label for="descricao" class="block">Descrição</label>
                <input id="descricao" type="text" pInputText class="w-full" formControlName="descricao"/>
            </div>
            <div class="field col-12">
                <label class="block">Solicitante:</label>
                <p-dropdown formControlName="matriculaSolicitante" [options]="dropdownProfessoresCoordenadores" placeholder="Selecione o solicitante do evento"
                            appendTo="body" styleClass="w-full">
                </p-dropdown>
            </div>
            <div class="field col-12">
                <label class="block">Local</label>
                <p-dropdown formControlName="idLocal" [options]="locais" placeholder="Selecione o local do evento"
                            appendTo="body" styleClass="w-full">
                </p-dropdown>
            </div>
            <div class="field col-12">
                <label for="data" class="block">Data</label>
                <p-calendar appendTo="body" id="data" formControlName="data" ></p-calendar>
            </div>
            <div class="field col-12">
                <label for="horaInicio" class="block">Hora Início</label>
                <p-inputMask id="horaInicio" mask="99:99" formControlName="horaInicio"></p-inputMask>
            </div>
            <div class="field col-12">
                <label for="horaFim" class="block">Hora Fim</label>
                <p-inputMask id="horaFim" mask="99:99" formControlName="horaFim"></p-inputMask>
            </div>

            <div class="col-12 flex justify-content-end mt-3">
                <p-button label="Cancelar" styleClass="p-button-secondary mr-3" [disabled]="isVisualizar"
                          (onClick)="fecharDialog()"></p-button>
                <p-button label="Salvar" styleClass="button-save-new"
                          (onClick)="salvarEvento()"></p-button>
            </div>

            <div class="row">
                <input type="text" (window:keypress)="onKey($event)"  autofocus />
                <p>barcode: {{ barcode }}</p>
            </div>
        </div>
    </form>
</div>
