<div class="flex justify-content-center">
    <h1> Aulas Disponíveis </h1>
</div>

<div [formGroup]="form" class="col-8 flex align-content-start align-items-center">
    <div class="field col-5">
        <label class="block" for="idDisciplina">Disciplinas</label>
        <p-dropdown formControlName="idDisciplina" id="idDisciplina"  [filter]="true" optionValue="value" optionLabel="label" [options]="disciplinaOptions" placeholder="Selecione"
                    appendTo="body" styleClass="w-full">
        </p-dropdown>
    </div>
    <div class="field col-3">
        <p-button label="Pesquisar" icon="pi pi-search" iconPos="right" styleClass="button-save-new mr-2 mt-4" (onClick)="buscarAulas()"></p-button>
    </div>
</div>

<div class="card">
    <p-table sortField="nome" sortcurrentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [paginator]="true" rows="10" [rowsPerPageOptions]="[10, 25, 50]" [columns]="cols" [value]="aulas" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" class="centralizado">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <ng-template [ngIf]="col.text">
                        {{rowData[col.field] || '-'}}
                    </ng-template>
                    <ng-template [ngIf]="col.field == 'acoes'">
                        <div class="flex justify-content-center p-0">
                            <button
                                pButton
                                icon="pi pi-link"
                                [label]="getLabelAlocar(rowData)"
                                class="button-action botao-secundario button-view sem-fundo flex align-items-center justify-content-center m-1"
                                iconPos="right"
                                (click)="handleAcao(rowData, 'alocar')">
                            </button>
                        </div>
                    </ng-template>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
